<tr>
    <td>1</td>
    <td>Username</td>
    <td>sfsdf@gmail.com</td>
    <td>Male</td>
    <td>Active</td>
    <td>
        <a href="/update-user" class="btn border-shadow update">
        <span class="text-gradients"> <i class="fas fa-pencil-alt"></i> </span>
    </a>
</td>
<td>
    <a href="#" class="btn border-shadow update">
    <span class="text-gradients"> <i class="fas  fa-times"></i> </span>
</a>
</td>
   
</tr>